    @font-face {
    font-family: organo;
    src: url(../fonts/Organo0.ttf);
  }
  @font-face {
    font-family: lato;
    src: url(../fonts/Lato-Regular.ttf);
  }
  @font-face {
    font-family: lato-med;
    src: url(../fonts/Lato-Medium.ttf);
  }
  main {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .navbar-brand {
    padding: 5px 15px;
  }
  .clickclass {
    font-family: organo;
    font-weight: 400;
  }
  /*.parallax-window {
    min-height: 400px;
    background: transparent;
}*/

  .main-container-row {
    background-color: rgba(255, 255, 255, 0.62);
    padding-bottom: 130px;
    padding-top: 130px;
    ;
  }
  #maincontainer-image-bg {
    background-image: url('../images/photo-1432821596592-e2c18b78144f.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .h1-login-turnapp {
    font-family: organo;
    color: rgb(24, 167, 98);
    text-align: center;
    margin-top: 60px;
  }
  .h1-turnapp {
    font-family: organo;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    font-size: 100px;
    margin-top: 40px;
    ;
  }
  .main-paragraph {
    font-family: lato;
    padding: 0px 80px 0px 80px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
  }
  #second-mainp {
    padding-bottom: 20px;
    text-align: center;
    font-family: lato-med;
    font-weight: 300;
  }
  #brand-image {
    display: inline-block;
  }
  #brand-paragraph {
    display: inline-block;
    font-family: organo;
  }
  #get-button {
    background-color: black;
    font-family: lato;
    font-weight: 700;
    width: 50%;
    margin: 0 auto;
    display: block;
    border-color: black;
  }
  #get-button:hover {
    background-color: rgba(0, 0, 0, 0.86);
  }
  #get-button:active {
    position: relative;
    top: 1px;
  }
  #email-login {
    padding-bottom: 10px;
  }
  #sign-in-button {
    padding-top: 10px;
  }
  #check-box {
    text-align: center;
    font-weight: 700;
    font-family: lato;
  }
  #about-us {
    font-family: lato;
    font-weight: 400;
    font-size: 12px;
    transition: .4s;
    padding-top: 30px;
    height: auto;
  }
  #mc-container {
    background-image: url('../images/photo-1422479278902-8cef24992df0.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  #subscribe-h1 {
    font-family: organo;
    color: #f55115;
    margin-top: 50px;
  }
  #mc_embed_signup {
    text-align: center;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
  }
  .justify-form1 {
    padding-top: 20px;
    padding-right: 10px;
    font-family: lato;
    font-size: 13px;
    text-align: right;
    display: block;
    clear: left;
    float: left;
  }
  .justify-form2 {
margin-top: 14px;
background-color: transparent;
display: block;
float: left;
margin-left: 5px;
padding-right: 80px;
  }
  #label-marg1{
    padding-right: 36px;
  }
  #label-marg2{
    padding-right: 38px;;
  }
  #subscribe-button {
    margin: 30px 0 40px 0;
    background-color: rgb(24, 167, 98);
    border-radius: 4px;
    padding: 7px 20px;
    color: #ffffff;
  }
  #asterisk{
    color: #f55115;
  }
  #indicates-required{
    font-size: 11px;
    font-family: lato-med;
  }
  #subscribe-p{
    font-size: 16px;
    font-family: lato;
    padding-top: 10px;
  }
  .subscribe-row{;;
  }
  #need-help {
  text-align: center;
  font-weight: 700;
  font-family: lato;
}
#create-account {
  text-align: center;
  font-weight: 700;
  font-family: lato;
}
  #aboutus-h1 {
    color: #f55115;
    font-family: organo;
    font-weight: 800;
    font-size: 50px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 28px;
  }
  .aboutus-p {
    font-family: lato-med;
    font-size: 12px;
    height: auto;
    transition: .4s;
    text-align: center;
    padding-top: 4px;
  }
  .aboutus-p:hover {
    transform: scale(1.1, 1.1);
  }
  #how-doesit-work {
    padding-bottom: 55px;
  }
  #howdoesitwork-h3 {
    color: #f55115;
    font-family: organo;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 50px;
  }
  .icon-img {
    height: auto;
    transition: .2s;
  }
  .icon-img:hover {
    transform: scale(1.2, 1.2);
  }
  .icon-img {
    height: auto;
    transition: .2s;
    margin-bottom: 10px;
  }
  .icon-img2 {
    height: auto;
    transition: .2s;
    margin-bottom: 10px;
  }
  .icon-img:hover {
    transform: scale(1.2, 1.2);
  }
  .icon-img2:hover {
    transform: scale(1.1, 1.1);
  }
  .howdoesitwork-h5 {
    font-family: lato;
    font-weight: bold;
    color: rgb(24, 167, 98);
    font-size: 16px;
    text-align: center;
    margin-top: 0px;
  }
  .howdoesitwork-h5 {
    height: auto;
    transition: .2s;
    margin-bottom: 10px;
  }
  .howdoesitwork-h5:hover {
    transform: scale(1.2, 1.2);
  }
  #howdoesitwork-div1 {
    padding-top: 50px;
    padding-left: 0px;
    ;
    margin: 0 auto;
    padding: 30px 30px;
    ;
  }
  #image-howdoesitwork {
    padding-bottom: 10px;
  }
  #howdoesitwork-div2 {
    padding-top: 30px;
    padding-left: 0px;
    margin: 0 auto;
    padding: 10px 30px;
    ;
  }
  .howdoesitwork-p {
    font-family: lato-med;
    text-align: center;
    height: auto;
    transition: .3s;
    margin: 0 auto;
  }
  .howdoesitwork-p:hover {
    transform: scale(1.2, 1.2);
  }
  .sign-in-btn {
    width: 40%;
    font-size: 14px;
    padding: 10px;
    background-color: #f55115;
    border-color: #f55115;
    font-weight: bold;
    font-family: lato;
    margin: 0 auto;
  }
  .sign-in-btn:hover {
    background-color: rgba(238, 90, 43, 0.83);
    border-color: rgba(238, 90, 43, 0.83);
  }
  .sign-in-btn:active {
    position: relative;
    top: 1px;
  }
  .sign-in-btn:active {
    position: relative;
    top: 1px;
  }
  #create-account-h1 {
    color: rgb(24, 167, 98);
    font-family: organo;
    margin-top: 10px;
    font-size: 45px;
    letter-spacing: 1.5px;
    text-align: center;
  }
  #getaccount-col12 {
    padding-top: 100px;
    background-color: rgba(230, 230, 230, 0.61);
    background-size: 100%;
  }
  #create-account-submit > div {
    background-color: rgba(230, 230, 230, 0.61);
    padding-bottom: 50px;
  }
  .get-font {
    font-family: lato;
  }
  #create-account-submit > div > a {
    font-weight: bold;
    font-family: lato;
  }
  .aboutus-p:hover {
    transform: scale(1.1, 1.1);
  }
  .form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  .form-group {
    text-align: center;
  }
  .contactus-inputs {
  }
  .form-width {
    width: 70%;
    margin: 0 auto;
  }
  .getaccount-fieldset {
    display: inline-block;
    width: 380px;
    float: right;
  }
  .getaccount-fieldset2 {
    display: inline-block;
    width: 380px;
    float: left;
  }
  #mc-background {
    background-color: rgba(230, 230, 230, 0.61);
  }
  #contact-us {
    letter-spacing: 1.5px;
    text-align: center;
    padding: 30px 0px 20px 0px;
  }
  #contact-us-h1 {
    font-family: organo;
    color: rgb(24, 167, 98);
  }
  .contactus-margin {
    margin-left: 33%;
    text-align: center;
  }
  #turn-email {
    text-align: right;
    font-size: 10px;
    font-family: lato;
    font-weight: 400;
  }
  #create-account-submit > div > a > .btn-primary {
    color: #fff;
    background-color: #f55115;
    border-color: #f55115;
    display: block;
    margin: 0 auto;
  }
  #create-account-submit > div > a > .btn-primary:hover {
    background-color: rgba(238, 90, 43, 0.83);
    border-color: rgba(238, 90, 43, 0.83);
  }
  #create-account-submit > div > a > .btn-primary:active {
    position: relative;
    top: 1px;
  }
  #send-message {
    color: #fff;
    background-color: #f55115;
    border-color: #f55115;
    ;
    margin: auto;
    width: 35%;
  }
  #send-message:hover {
    background-color: rgba(238, 90, 43, 0.83);
    border-color: rgba(238, 90, 43, 0.83);
  }
  #send-message:active {
    position: relative;
    top: 1px;
  }
  .bs-docs-footer {
    box-shadow: 0px 0px 5px 0px rgb(208, 208, 208);
  }
  #send-message-div {
    padding: 20px;
  }
  /*CSS turn-app */

  table, th, td {
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    border-bottom: 1px solid rgb(220, 220, 220);
    ;
    ;
  }
  .th-center {
    text-align: center;
  }
  tr {
    text-align: center;
  }
  tr:hover {
    background-color: #f5f5f5;
  }
  #date {
    margin-bottom: 20px;
    font-family: lato;
    font-weight: 400;
  }
  #addRow {
    width: 17%;
    height: 10%;
    background-color: rgba(208, 208, 208, 0.69);
    border-radius: 5px;
    font-family: lato;
    border-style: inherit;
    margin-bottom: 20px;
  }
  #addRow:hover {
    background-color: rgb(146, 150, 146);
  }
  #addRow:active {
    position: relative;
    top: 1px;
  }
  #deleteRow {
    width: 15%;
    height: 10%;
    background-color: rgb(236, 118, 42);
    border-radius: 5px;
    font-family: lato;
    border-style: inherit;
    margin-bottom: 20px;
    color: #ffffff;
  }
  #deleteRow:hover {
    background-color: rgb(204, 95, 16);
  }
  #deleteRow:active {
    position: relative;
    top: 1px;
  }
  #reception-button {
    width: 60%;
    background-color: rgba(208, 208, 208, 0.61);
    border-radius: 5px;
    font-family: lato;
    border-style: none;
    text-align: center;
  }
  #reception-button:hover {
    background-color: rgb(146, 150, 146)
  }
  #reception-button:active {
    position: relative;
    top: 1px;
  }
  #header-text {
    font-family: inherit;
    font-weight: 200;
  }
  .select-hour {
    font-family: lato;
    font-weight: 400;
  }
  input {
    font-family: lato;
    ;
    font-size: inherit;
    line-height: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px solid rgba(224, 224, 224, 0.7);
  }
  #service-button {
    width: 60%;
    background-color: rgb(24, 167, 98);
    border-color: rgb(24, 167, 98);
    border-radius: 5px;
    font-family: lato;
    color: #ffffff;
    border-style: none;
    text-align: center;
  }
  #service-button:hover {
    background-color: rgb(5, 145, 86)
  }
  #service-button:active {
    position: relative;
    top: 1px;
  }
  #exit-button {
    width: 60%;
    background-color: #f55115;
    border-color: #f55115;
    border-radius: 5px;
    font-family: lato;
    color: #ffffff;
    border-style: none;
    text-align: center;
  }
  #exit-button:hover {
    background-color: rgb(204, 95, 16);
  }
  #exit-button:active {
    position: relative;
    top: 1px;
  }
  #ui-datepicker-div {
    position: absolute;
    top: 135px;
    left: 119.719px;
    z-index: 1;
    background: white;
    display: block;
    box-shadow: 0px 2px 11px;
  }
  #app-container {
    box-shadow: 2px 1px 2px 3px rgba(199, 199, 199, 0.91);
    padding-top: 90px;
    background-image: url('../images/pexels-photo-64769-large.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 30px;
  }
  #app-container > div {
    background-color: rgba(220, 220, 220, 0.27);
  }
  #welcome-app {
    text-align: center;
    font-size: 60px;
    font-family: organo;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .reception-button.active {
    background-image: none;
    background-color: rgb(255, 0, 0);
    color: #ffffff;
  }
  .service-button.active {
    background-image: none;
    background-color: rgb(255, 0, 0);
    color: #ffffff;
  }
  .exit-button.active {
    background-image: none;
    background-color: rgb(255, 0, 0);
    color: #ffffff;
  }
  @media (max-width: 768px) {
    .h1-turnapp {
      font-size: 70px;
    }


    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
    }



    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    }
